* {
    color: #F0F0F2;
    font-family: 'Cormorant', serif;
}

a {
    text-decoration: none;
    color: #F0F0F2;
}

li a {
    font-size: 1.2rem;
}

#mainMobileNav {
    display: none;
}

#footer a,
#aboutText a {
    transition: 0.2s;
}

#footer a:hover,
#aboutText a:hover {
    color: #707F8C;
    transition: 0.4s;
}

body {
    background-color: #1F2226;
}

#mainWindow {
    height: 100vh;
    background: url("./photos/monument.webp");
    background-size: cover;
    background-position: center;
}

#menu {
    margin-left: 3rem;
}

#mainLogo {
    margin-top: 20vh;
    margin-bottom: 3rem;
}

#mainLogo img {
    width: 15rem;
}

#mainTitle {
    margin-bottom: 1rem;
    font-size: 5rem;
}

#mainTitle div {
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #F0F0F2;
}

.linkElement {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

#footer {
    font-size: 1.3rem;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    border-style: solid;
    border-width: 0 0 0 2px;
    border-color: #F0F0F2;
}

/*  about.html style */

#aboutWindow {
    height: 100vh;
    background: url("./photos/background-desktop-2.webp");
    background-position: center;
    background-size: cover;
}

#aboutText {
    font-size: 1.5rem;
}

/*Explore style*/

.explorePhotos{
    margin-top: 5rem;
}

.explorePhotos img{
    padding: 1rem;
    width: 30rem;
}

.caption{
    font-size: 1.2rem
}

@media screen and (max-width: 500px) {

    #mainMobileNav{
        display: block;
    }
    
    #footer{
        border-width: 0 0 0 0;
    }
    
    #footer p{
        display: none;
    }

    #mainLogo img{
        display: none;
    }

    #mainWindow {
        height: 100vh;
        background: url("./photos/river.webp");
        background-size: cover;
        background-position: center;
    }

}