*{
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}

body{
    background-color: #1f628e
}

.navbar{
  font-size: 0.8rem;
}

main {
    min-height: calc(100vh - 51px);
}

.main{
    background-image: url(./photos/background-desktop.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.galleryMain, .aboutMain{
    background-image: url(./photos/background-desktop-2.jpg);
}

.aboutMe{
    animation-name: fadeIn;
    animation-duration: 2s;
}

#mainLogo{
    animation-name: fadeIn;
    animation-duration: 3.2s;
    width: 15rem;
}

#logo{
  width: 10rem;
} 

.gallery{
    padding-top: 2rem;
}

.info{
    color: #f0e7d1;
    line-height: 1.4rem;
    font-size: 0.8rem;
}

.info button{
    margin-top:0;
}

@keyframes fadeIn{
    0%{
      opacity: 0;
      transform: translateY(+5%);
  
    }
    100%{
      opacity: 1;
      transform: translateY(0%);
    }
}

button {
    margin: 50px;
}
  /* End of Page styling */
  

/* Slide button styling */
.slide {
  margin-top: 5rem;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 2px solid #efebd0;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.slide a, .slide a:hover{ 
  color: #efebd0;
  text-decoration: none;
}

.slide i {
  opacity: 0;
  font-size: 13px;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 21px;
  transition: transform 1;
}

.slide div {
  transition: transform 0.8s;
}

.slide:hover div {
  transform: translateX(-6px);
}

.slide::after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}

.slide:hover i {
opacity: 1;
transform: translateX(-6px);
}
/* End of Slide Button  */
