*{
    scroll-behavior: smooth;
}

body{
    background-color: #1f628e
}

main {
    min-height: calc(100vh - 30px);
}

.main{
    background-image: url(./photos/background-desktop.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: auto;
}

.galleryMain, .aboutMain{
    background-image: url(./photos/background-desktop-2.jpg);
}

.aboutMe{
    animation-name: fadeIn;
    animation-duration: 2s;
}

#mainLogo{
    animation-name: fadeIn;
    animation-duration: 3.2s;
}

.gallery{
    padding-top: 2rem;
}

.info{
    color: #f0e7d1;
    line-height: 40px;
    font-size: 1.2rem;
}

.info a{
    text-decoration: none;
    padding: 5px;
    background-color: #00c2cb;
    border-radius: 5px;
    color: #2c2c2c;
}

.info a:hover{
    background-color: #d5aa54;
    color: #1e2929; 
    transition: 0.2s;
}

@keyframes fadeIn{
    0%{
      opacity: 0;
      transform: translateY(+5%);
  
    }
    100%{
      opacity: 1;
      transform: translateY(0%);
    }
}